header {
  background-color: #448a87;
  color: #fff;
  position: relative;
  max-height: 200px;
}

.nav {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #448a87;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
  text-align: center;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #2c6164;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 32px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.btn {
  background-color: #448a87;
  border-color: #448a87;
}

.btn:hover {
  background-color: #2c6164;
  border-color: #2c6164;
}

input {
  border-color: #fff;
}

.home {
  text-decoration: none;
  color: #fff;
}

dt {
  float: left;
  clear: left;
  width: 100px;
}

footer {
  background-color: #448a87;
  color: #fff;
}

input {
  border: 1px solid #448a87;
  width: 50%;
}

fieldset {
  border: 0;
}

@media only screen and (min-width: 38em) {

  .nav-open {
    display: none;
  }

  .nav-label {
    bottom: 200px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    position: static;
    width: 100%;
  }

  .logo {
    width: 10%;
    max-width: 100px;
  }

}
